* { padding:0; margin:0; outline:0; }
.admin {
	font-family: Verdana, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#5e5e5e;
	margin-top: 10%;
}
.admin input, textarea, select { font-family: Verdana, sans-serif; font-size:13px; }
textarea { overflow:hidden; }

.admin .field { border:solid 1px #d3cfc7; background:#fff; padding:5px; }
.admin .small-field { border:solid 1px #d3cfc7; background:#fff; padding:3px 1px; font-size:11px; }

.admin .checkbox { width:13px; height:13px; vertical-align:top; position:relative; top:2px; }

.admin .button { background:#eee url(images/button.gif) repeat-x 0 0; border:solid 1px #b1a874; color:#7f7f7f; font-size:11px; padding:2px 6px 2px 6px; cursor:pointer; line-height:14px !important; }
.admin .button:hover { color:#333; border-color:#857b42; }


.admin .field:focus { color:#000; border-color:#857b42;}

.admin a img { border:0; }

.admin a { color:#ba4c32; text-decoration: underline; cursor:pointer; }
.admin a:hover { color:#8d341f; text-decoration: none;}

.admin .left, .alignleft { float:left; display:inline; }
.admin .right, .alignright { float:right; display:inline; }

.admin .cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.admin .al { text-align: left; }
.admin .ar { text-align: right; }
.admin .ac { text-align: center !important; }

.admin h1{ font-size:22px; line-height:24px; color:#fff; font-weight: normal;}
.admin h1 a{ color:#fff; text-decoration: none; }
.admin h2 { font-size:15px; font-weight: normal; }
.admin h3 { font-size:12px; line-height:14px; font-weight: normal; }
.admin h3 a{ text-decoration: none; }




.table th{ background:#fffdfa url(images/th.gif) repeat-x 0 0; color:#818181; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}
.table td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
.table tr.odd td{ background:#f8f8f8; }
.table tr:hover td{ background:#fff9e1; }

.box { background:#fbfcfc; height:100%; padding:1px; margin-bottom:20px; }
.box-head { background:#ba4c32; height:32px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }
.box-head .right{ padding-top:5px; line-height:13px;}
.box-head .right label,
.box-head .right input { float:left; }
.box-head .right label { padding:4px 0 0 0;}
.box-head .right input { margin-left:5px;}








.box { -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 6px #978f6c; -webkit-box-shadow: 0 0 6px #978f6c;}
.box-head { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; }

