.rate{
    height: 100%;
}
.rate {
  background: #f8f9fa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 0.15rem;
}

h2 {
  font-family: 'Cutive Mono', 'Courier New';
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

label {
  cursor: pointer;
}

svg {
  width: 3rem;
  height: 3rem;
  padding: 0.15rem;
}


/* hide radio buttons */

input[name="ratestar"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

/* hide source svg */

.ratestar-source {
  width: 0;
  height: 0;
  visibility: hidden;
}


/* set initial color to transparent so fill is empty*/

.ratestar {
  color: transparent;
  transition: color 0.2s ease-in-out;
}


/* set direction to row-reverse so 5th ratestar is at the end and ~ can be used to fill all sibling ratestars that precede last ratestarred element*/

.ratestar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

label:hover ~ label .ratestar,
svg.ratestar:hover,
input[name="ratestar"]:focus ~ label .ratestar,
input[name="ratestar"]:checked ~ label .ratestar {
  color: #d62a9d;
}

input[name="ratestar"]:checked + label .ratestar {
  animation: ratestarred 0.5s;
}

input[name="ratestar"]:checked + label {
  animation: scaleup 1s;
}

@keyframes scaleup {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes ratestarred {
  from {
    color: #600040;
  }
  to {
    color: #d62a9d;
  }
}